/** 
 * Admin interface styles.
 * On 'theme.css' you can set more options (colors, margins, etc.) or overrride them.
 */

#global { padding:1em; overflow:auto; }
  #global h1 { margin-bottom:.35em; } 

#global, #header, #footer { clear:both; }

#header { padding-bottom:0; }
#logged { text-align:right; }
#footer { text-align:right; padding-bottom:2em; }

.foothead { padding:.5em 1.2em; }

/* navigation menu */
#nav { margin-top:1em; }      
  #nav ul { margin-top:1em; list-style-type:none; padding:2px 10px; text-align:left; font:bold 90% sans-serif; border-bottom:2px solid #000; }
    #nav ul li { display:inline; margin-right:.25em; }
    #nav ul li.current { border-bottom:2px solid #FFF; background-color:#FFF;  }
      #nav ul li.current a { background-color:#FFF; color:#000; position:relative; top:2px; padding-top:4px; }
        #nav ul li a { padding:2px 8px; border:2px solid #000; text-decoration:none; border-bottom:none;
                       border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; 
                       background-color:#DDD; color:#666; }
          #nav ul a:hover, #nav ul a:focus { background:#F5F5F5; }

/* the 'more' link on tracking-report. Colors are set in theme.css */
#more { width:300px; margin:1em auto; padding:.6em; display:block; text-decoration:none; }

/* login */
#loginform { width:300px; margin:0 auto; padding:1em; }
  #loginform input.text { width:98%; display:block; font-size:150%; }
  #loginform input.button { font-size:120%; margin-right:0; }
  #loginform input.recover { margin-left:0; }

/* other */
p.tag { float:left; margin-top:.5em; padding:.2em 0; font:bold 100% sans-serif; }
  p.tag a { padding:.2em .5em; text-decoration:none; }

/* filter options */
form#filter fieldset { border:1px solid #CCC; padding:1em; }
  form#filter fieldset legend { background:#69C; color:#FFF; padding:0 1em; font:bold 80% sans-serif;}
hr { border:1px solid #CCC; }