body { margin:0; padding:1em; text-align:center; }
.ste { width:500px; margin:auto; }
  .ste .bar { background:#F1F1F1; padding:3px; border:#CCC 1px; border-style:solid solid none solid; }
    .ste .frame { border:1px solid; border-color:#CCC; }
      .ste .frame iframe { width:100%; height:100%; }
    .ste img { border:0; }
    .ste .button { padding:1px 2px; border:1px solid #F1F1F1; }
    .ste .button-hover { padding:1px 2px; border:1px solid; border-color:#FFF #CCC #CCC #FFF; }
    .ste .button-click { padding:1px 2px; border:1px solid; border-color:#CCC #FFF #FFF #ccc; }
    .ste .separator { width:0px; height:18px; border-left:#CCC 1px solid; border-right:#FFF 1px solid; margin:0 5px; }
    .ste .source { padding-top:5px; }
input[type=submit] { margin-top:1em; }
